body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#userName{
  width: 100%;
  align-text: center;
  align-self: center;
  justify-content: center
}
#header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 8px 5px #888888;
}
[id^="task"]{
  border-radius: 20px;
  box-shadow: 0px 1px 8px 1px #888888;
  padding: 20px;
  text-align: center;
  width: 30%;
}
#instruction{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  font-size: 2em
}
#choices{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  gap: 15px
}
#footer{
  display: flex;
  width: 100vw;
  align-self: flex-end;
  justify-content: center;
  background: #002957;
  margin-top: 2%;
  padding: 3px
}
#gif{
  width:100%;
}
a:link{
  text-decoration: none;
}
a{
 color: white;
}
@media only screen and (min-width: 600px) {
  #gif{
    width:550px;
    min-width: 0px
  }
  [id^="task"]{
    width: 18%;
  }
  #header{
  }
  #choices{
    width: 80%;
    align-content: center;
  }
}

