#jspsych-content {
    display: flex;
    flex-flow: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: black;
    max-height: inherit;
    width: 80%;
}

#loading-bar {
  width: 80%;
  background-color: lightblue;
  border: 1px solid #ccc;
  border-radius: 15px;
  height: 10px;
  position: relative;
}

#progress-bar {
  background-color: blue;
  height: 100%;
  border-radius: 15px;
  width: 100%;
  position: absolute;
}

#progress-text {
  color: black;
  text-align: center;
  line-height: 30px;
}
