body{
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  text-align: center;
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
#userName{
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-content: center
}
#chooseLang{
  width: 100%;
  justify-content: center;
  flex-flow: column wrap;
  display: flex
}
#langs{
  flex-grow: 0.8; 
}
#langFi, #langEng {
  color: blue;
  font-size: 20px;
  text-decoration: underline;
}
#logoutBtn{
  width: 20%
}
#header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 8px 5px #888888;
}
[id^="task"]{
  border-radius: 20px;
  box-shadow: 0px 1px 8px 1px #888888;
  padding: 20px;
  text-align: center;
  width: 30%;
}
#instruction{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
  font-size: 2em
}
#choicesEng, #choicesFi{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  gap: 15px
}
#footer{
  display: flex;
  width: 100vw;
  align-self: flex-end;
  justify-content: center;
  background: #002957;
  margin-top: 2%;
  padding: 3px;
  color: white;
}
#gif{
  width:100%;
}
#gifSideNav{
  width:70%;
}
a:link{
  text-decoration: none;
}
a{
 color: white;
}
/*Side menu*/
.sidenav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}
#buttonOpen{
  font-size: 25px;
  display: flex;
  margin-left: 35px;
  margin-top: 20px
}
.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 30px;
}
/*End of side menu*/

@media only screen and (min-width: 600px) {
  #gif{
    width:550px;
    min-width: 0px
  }
  [id^="task"]{
    width: 18%;
  }
  #header{
  }
  #choices{
    width: 80%;
    align-content: center;
  }
}

