body{
  height: 100vh;
  background: RGB(146, 168, 209, 0.2);
}
h2{
  font-weight: normal;
}
button, #jspsych-html-slider-response-next, .jspsych-btn, #jspsych-survey-multi-choice-next, .sv_next_btn, .sv_prev_btn, .sv_complete_btn, #jspsych-survey-likert-next{
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#jspsych-html-button-response-btngroup, #jspsych-html-button-response-stimulus, #fullscreenCommand, #jspsych-fullscreen-btn, #jspsych-audio-button-response-btngroup{
  margin-top: auto;
}
#jspsych-html-button-response-btngroup{
  gap: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#jspsych-content{
  display: flex;
  flex-flow: column;
  /*height: 70vh;*/
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  line-height: 1;
  /*font-size: 1.5em;*/
  color: black;
  max-height: inherit;
  width: 80%;
}
/*Removes highlight from button*/
.jspsych-audio-button-response-button{
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#audioPrompt{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
/*.circle {
   display:block;
   position:absolute;
   background:red;
   text-align:center;
   border-radius:51%;
   left: 41%;
   margin-top: 45%
}*/
#titleBAT{
  margin-bottom: 10%;
  width: 100%
}
.circle {
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 80%
}
#firstRowCircle, #secondRowCircle, #thirdRowCircle, #fourthRowCircle, #fifthRowCircle{
  display: flex;
  align-items: center;
  width: 100%;
}
#firstRowCircle, #secondRowCircle, #thirdRowCircle{
  width: 90%;
  justify-content: space-between;
}

.deg-1 {
  border-bottom-left-radius: 60%;
}
.deg-3 {
  border-bottom-right-radius: 60%;
}
.deg-4 {
  border-top-left-radius: 60%;
}
.deg-6 {
  border-top-right-radius: 60%
}

button[id^="bat"] {
  background: lightblue;
	border: 1.5px solid rgb(0, 0, 255);
  min-width: 30%;
  min-height: 30%;
  /*height: 60px;*/
	background-image: lightblue;
	box-shadow: 0 -0.25rem 0.5rem blue inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 blue inset;
}

/*Movement task jspsych-html-slider-response-next*/
#labelsWrapper{
  display: inline-block;
  width: 100%;
  height: 10vh;
}
#buttonsChooseWrap{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
#label0{
  line-height: 1.3em;
  font-size: 0.6em;
  width: 25%;
  text-align: left;
  float: left;
}
#label1{
  line-height: 1.3em;
  font-size: 0.6em;
  width: 25%;
  text-align: right;
  float: right;
}
#buttonSongItem{
  border-radius: 12px;
  width: 20vw;
  background-color: lightgray;
  height: 10%;
}
#coverImage {
  object-fit: contain;
  width: 15vw;
}
#logoLoading{
  width: 50vw;
}
/*End of movement task*/

/*Tapping task*/
#tappingButton{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  min-width: 30vw;
  max-width: 80vw;
  aspect-ratio: auto;
  box-shadow: 0 8px 5px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
	border: none;
  border-radius: 100%;
  background: #82b3e7;
}
#tappingButton::before {
  content: '';
  padding-bottom: 100%;
}

#customText{
  color: white;
  text-align: center;
}
.jspsych-display-element{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  -webkit-transition : border 1000ms ease-out; 
  -moz-transition : border 1000ms ease-out;
  -o-transition : border 1000ms ease-out;
}
#recordingText{
  animation: fadeIn 2000ms;
  font-size: 16px;
  color: red;
}
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}
/*End of tapping task*/

/*General instructions*/
#muteButton{
  width: 60vw
}

/* For mobile */
@media only screen and (max-width: 600px) {
  #buttonSongItem{
    border-radius: 12px;
    width: 35vw;
    height: 10%;
    color: black;
    background-color: lightgray;
  }
  #coverImage {
    width: 80vw;
  }
}

#jspsych-instructions-next{
  background: purple;
}
/*Text survey styles*/
#jspsych-survey-text-form{
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  align-items: center;
  justify-content: center
}
#jspsych-survey-text-0{
  margin-bottom: 10%;
}
#jspsych-survey-text-next{
  width: 50%
}
.jspsych-survey-text{
  margin-bottom: 10%
}
#textInInstruction{
  margin-top: auto
}
.jspsych-instructions-nav{
    margin-top: auto;
}
/*End of text survey styles*/
#textInInstruction{
  margin-top: auto
}
#videoContainer {
   aspect-ratio: 16/9;
}
video::-webkit-media-controls-panel {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent, transparent) !important;
  background-color: transparent !important;
  box-shadow: none !important
}

button:hover,
button:focus {
}
.button:hover {
  transform: translateY(-1px);
}
.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
#buttonContainerSurvey{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px
}
#a, #b, #c, #d{
  width: 20%
}
#dontLock, #increaseVolume, #noBluetooth, #oneMinute, #music, #break, #pocket, #dance, #ear{
  min-width: 80px;
  width: 20vw;
  margin-top: 10%;
}
#tableSVG{
  min-width: 80px;
  width: 20vw;
}
#voiceSVG{
  min-width: 80px;
  width: 20vw;
  margin-top: 10%
}
#phonePocket{
  width: 85vw;
  margin-top: 10%
}
#purseSVG{
  margin-top: 15px;
  min-width: 80px;
  width: 10vw;
}
#instructionLock{
  margin-top: 15px;
  width: 80%;
}

/*Shared measurements*/
.sv-string-viewer{
  color: black
}
/* Likert survey styles */
#labelsWrapperLikert{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#jspsych-survey-likert-form{
  width: 100%
}
#likertPrompt{
}
#labelLikert{
  color: black;
  font-size: 1.7em;
  margin-top: 13%;
}
#leftLabel{
  font-size: 0.8em;
  text-align: left;
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  margin-top: 25px
}
#rightLabel{
  font-size: 0.8em;
  text-align: right;
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  margin-top: 25px
}
/*Emotion*/
#multiSliderWrapper{
  display: flex;
  justify-content: space-between;
}
#jspsych-html-slider-response-next:disabled, #jspsych-html-slider-response-next[disabled]{
  cursor: not-allowed;
  background-color: rgba(250, 100, 0, 0.5)
}
#imageButtonEmotion{
  width: 80%;
}
#emotionButtonWrapper{
  display: flex;
  flex-flow: row;
}
#emotionPromptDiv{
}
#emotionSliderWrap{
  display: flex;
  flex-flow: column;
  width: 80vw;
  gap: 8px
}
.jspsych-html-slider-response-container{
  display: flex;
  flex-flow: column;
  gap: 5px;
}
#jspsych-html-slider-response-wrapper-emotion{
  display: flex;
  flex-flow: column;
  height: 80vh;
  justify-content: space-between;
  align-items: center;
}
#jspsych-html-slider-response-wrapper{
  display: flex;
  flex-flow: column;
}
#id_prompt{
  margin-top: auto;
}
#labelMultiSlider{
  font-size: 80%;
  width: 25%
}
/*MBEMA*/
.mbemaContainer{
  gap: 10%;
}
/*Progress bar container*/
#jspsych-progressbar-container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  padding: 1%;
  justify-content: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #dedede;
  color: #555;
}
