html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
/*Survey friends-strangers*/
#containerSurvey{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
#instructionSurvey{
  width: 100vw;
}
#test-resp-box{
  width: 80%;
  height: 20px;
}
#buttonContainerSurvey{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 30px
}
#a, #b, #c, #d{
  width: 20%
}
#Instruction{
  font-size: 2em;
  margin-bottom: 5%
}
#tableSVG{
  min-width: 150px;
  width: 20vw;
}
#ear{
  min-width: 150px;
  width: 20vw;
}
#dance{
  min-width: 150px;
  width: 20vw;
}
#dontLock, #increaseVolume, #oneMinute, #music, #break, #pocket{
  min-width: 150px;
  width: 20vw;
}
#purseSVG{
  margin-top: 15px;
  min-width: 150px;
  width: 10vw;
}
#noBluetooth{
  margin-top: 15px;
  min-width: 150px;
  width: 10vw;
}
#instructionLock{
  margin-top: 15px;
  width: 350px;
}
/*End of survey friends-strangers*/

/*Slider styles*/
.jspsych-slider{
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.jspsych-slider:hover{
  opacity: 1;
}

.jspsych-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}
